# Skopiuj do .env i uzupelnij. Pliku .env NIGDY nie commituj.
KSEF_NIP=0000000000
KSEF_TOKEN=wklej_token_wygenerowany_w_portalu_KSeF
KSEF_BASE_URL=https://api.ksef.mf.gov.pl/v2
# Ile dni wstecz pobierac faktury (domyslnie 7)
KSEF_DNI_WSTECZ=7

DB_USER=ksef
DB_PASS=wklej_haslo
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ksef_ep
